---
layout: default
header: bg-gray-100
---


<section class="section bg-gray-100">

  <div class="content text-center flex flex-col gap-8">
  
    <h2 class="max-w-3xl mx-auto text-5xl font-medium text-slate-900">
      Grow Your Business with Our Marketing Solutions
    </h2>

    <p class="max-w-3xl mx-auto text-3xl tracking-tight text-slate-700">
       We help our clients to increase their website traffic, rankings and visibility in search results.
    </p>

  </div>

</section>


<section class="section">

  <div class="content overflow-auto">

    <div class="relative flex flex-nowrap gap-6 snap-x overflow-x-auto snap-mandatory pb-4">
      
      {% for i in (1..8) %}
      <div class="shrink-0 h-36 w-80 bg-gray-50 rounded-lg">
        
      </div>
      {% endfor %}


    </div>


  </div>

</section>



<section class="section bg-gray-50">

  <div class="content">

    <div class="text-center lg:px-8 py-16">
      <h2 class="mx-auto max-w-4xl font-display text-6xl tracking-tight font-medium text-slate-900 sm:text-7xl">
        Meet our Team
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-xl tracking-tight text-slate-700">
        Most bookkeeping software is accurate, but hard to use. We make the opposite trade-off, and hope you don’t get audited.
      </p>
    </div>

    <div class="grid grid-cols-4 gap-x-4">

      {% for i in (1..4) %}
      <div class="col-span-1 h-96 w-full bg-gray-100 rounded-lg">
        
      </div>
      {% endfor %}

    </div>

    


  </div>

</section>



<section class="lg:px-8 py-32">

  <div class="max-w-7xl mx-auto grid grid-cols-10 gap-x-16">


    <div class="col-span-5">

      <div class="h-96 w-full bg-gray-50"></div>

    </div>



    <div class="col-span-5">
      <h2 class="mx-auto max-w-4xl font-display text-3xl tracking-tight font-medium text-slate-900 sm:text-5xl leading-9">
        We Provide The Best Solution For Your Business Development
      </h2>
      <p class="mt-6 text-xl tracking-tight text-slate-700">
        Most bookkeeping software is accurate, but hard to use. We make the opposite trade-off, and hope you don’t get audited.
      </p>
    </div>

    


  </div>

</section>







