<!doctype html>
<html class="h-full min-h-full scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ site.title }}</title>

  <meta name="description" content="{{ site.description }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

  <link href="/assets/css/main.css" rel="stylesheet">



</head>

<body class="">


  <main class="min-h-screen">
      {{ content }}
  </main>



</body>
</html>

